*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    letter-spacing: 1px;
    
}
body{
    margin-top: 10rem;
}

#main{
    display: flex;
    /* width: 95%; */
    /* margin: auto; */
    margin-top: 20px;
   
}
#collectiontitle{
    color: #12284c;
    font-family: Montserrat Regular,"sans-serif";
    font-size: 28px;
    font-weight: 400;
   
    line-height: 30px;
    text-transform: uppercase;
}
#title{
    /* width: 236px; */
    /* height: 50px; */
}
#collectionData{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    width: 100%;
    margin: 50px 0px ;
    /* border: 1px solid red; */
}
#imgid{
   
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    cursor: pointer;
}
.price,.title{
    color: #12284c;
    font-size: 14px;
    font-family: Montserrat Light,sans-serif;
    font-weight: 300;
    letter-spacing: .18px;
    line-height: 20px;
    margin: 8px 0 4px;    font-family: Montserrat Light,sans-serif;  
}
.brand{
    color: #12284c;
    font-size: 16px;
}
.badge{
    font-size: 12px;
    text-align: left;
}
#collection{
    /* width: 735px; */
    margin: 0px 0px 0px 70px;
    padding: 0px 40px 0px 0px;
}
#collection_header,#sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px;
}
#sort{
    font-size: 14px;
    color: #12284c;
}
#sortby,option{
    margin-left: 15px;
    padding: 15px;
    color: #12284c;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 100px;
}

#sidenavbar{
    /* width: 300px; */
    padding: 0px 0px 0px 40px;
   
}
.product{
    margin-bottom: 60px;
    text-align: center;
    width: 200px;
   
}
.heart{
    display: flex;
    justify-content: space-between;
}
.heart img{
    width: 40px;
    height: 40px;
}

/* sideBar css */

#sidenavbar{
    /* width: 200px; */
    color: #12284c;
    font-size: 13px;
    font-weight: 10;
}
#subCollectionHeader{
    margin: 50px 0px 10px 0px;
}
#subCollectionHeader p{
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #8996aa;
    cursor: pointer;
    font-size: 16px;
    
}
#atri{
    margin-top: 5px;
}
.atri{
    margin-bottom: 10px;
}
#filterHeader{
    margin: 60px 0px 20px 0px;
}

.filterCategoryHeader{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14.5px;
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid #8996aa ;
}

#pagination button{
    border: none;
    background-color: white;
    font-size: 20px;
    margin-right: 40px;
}
#pagination{
    text-align: center;
}
#pagination hr{
    margin: 10px 30px;
}