

*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#line{
    background-color: #D7EBF2;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 13%;
    margin-bottom: 1.5rem;

}
#maind{
    width: 100%;
    height: auto;
}

#maindiv{
    
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
}

#heading{
    margin-bottom: 12rem;
}

#roundimg{
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    margin-bottom: 1rem;
}

#para{
    text-align: left;
    padding: 1rem 4rem;
}

#centerdiv{
    margin-top: 1.5rem;
    background-color: #F3F8FA;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cenimg{

    width: 20rem;
    height: 20rem;
    display: block;
}



/* =========== grid area ================= */
#gridarea{
    text-align: center;
    width: auto;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-content: center;
    padding: 2rem 2rem;

}

#gridimg{
    width: 20rem;
    height: 13rem;
}


#gridp{
    color: #5F5F5F;
    font-size: 1.4rem;
}

#gridlearn{
    color: #5F5F5F;
    font-size: 1.2rem;
}

#Contact{
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    padding: 2rem 0rem;
}

#contbn{
background-color: #12284C;
font-size: 1.2rem;
padding: 0.6rem 1rem;
color: #D7EBF2;
border: none;
}