h1,p{
    color: #12284C;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#input_fields{
    width: 30%;
    display: grid;
    margin: auto;
    gap: 12px;
}
input,button{
    padding: 12px 14px;
}
p{
    color: #657a9b;
}
button{
    background-color: #12284C;
    color: white;
    border: transparent;
}