h1,p{
    color: #12284C;
    font-family: sans-serif;
    text-align: center;
}

#input_fields{
    width: 35%;
    display: grid;
    margin: auto;
    gap: 8px;
    padding: 40px;
    padding-bottom: 50px;
}
input{
    padding: 12px 14px;
    border: 1px solid #12284C;
}
p{
    font-weight: lighter;
    color: #657a9b;
}
label{
    background-color:#D1E8EE ;
    padding: 10px 15px;
}
span{
    margin-bottom: 10px;
}
#bluebox{
    margin:20px 25px;
    padding: 12px 14px;
}
button{
    padding: 12px 14px;
    color: white;
    background-color: #12284C;
    border: transparent;
}
a:hover{
    cursor: pointer;
}