body {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    margin-top: 10rem;
  }
  
  
  .wrapper {
    width: 100%;
    overflow: hidden;
  }
  
  .slides-container {
    height: 500px;
    transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
    position: relative;
  }
  
  .slide-image {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  /* Navigation Dots */
  
  .navigation-dots {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: right;
    margin: 16px 0;
  }
  
  .single-dot {
    height: 10px;
    width: 10px; 
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: 400ms;
    position: relative;
    right:130px;
  }
  
  .single-dot.active {
    background: #333;
  }


  /* for slider image and paragraph */


img{
    width:100%;
}
#text1{
    width:425px;
    height:380px;
    position: absolute;
    top:0px;
    padding:100px 20px 20px 80px;
    cursor: pointer;
}
h2.s1{
    color: #fff;
    font-family: Montserrat Light,sans-serif;
    font-weight: 400;
    cursor: pointer;
}
h1.s1{
    color: #fff;
    letter-spacing: 3px;
    /* line-height: 10px; */
    font-size: 45px;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;  
    cursor: pointer;
}
 p.s1,a.s1{
    color: #fff;
    font-style: normal;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    max-width: 25em;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 4vh;
    cursor: pointer;
}
#text2,#text3{
    width:533px;
    height:392px;
    position: absolute;
    top:0px;
    padding:80px 88px 20px 80px;
    cursor: pointer;
}
h2.s2{
    color: rgb(78, 167, 78);
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 22px;
    /* position: relative; */
    /* top:40px; */
}
h1.s2{
    color: rgb(27, 148, 27);
    font-size: 66px;  
    font-weight:lighter;           
}
p.s2{
    color: #fff;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 26px;
    line-height: 32px;
    position: relative;
    bottom:20px;
    font-size: x-large;
}
a.s2{
    color: #fff;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 18px;
    position: relative;
    bottom:22px;
    font-weight:inherit; 
}

h2.s3{
    color:rgb(17, 17, 49);
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 22px;
    /* position: relative; */
    /* top:40px; */
}
h1.s3{
    color:rgb(11, 11, 45);
    font-family: "Playfair Display", "Didot", "Times New Roman", Times, serif;
    font-size: 60px;  
    font-weight:lighter;          
}
p.s3{
    color: #a6a1a1;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 26px;
    line-height: 32px;
    /* position: relative; */
    /* bottom:20px; */
    font-weight:lighter;  
}
a.s3{
    color: #565656;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 18px;
    /* position: relative; */
    /* bottom:22px; */
    font-weight:lighter;  
}

#text4{
    width:415px;
    height:392px;
    position: absolute;
    top:0px;
    padding:80px 88px 20px 80px;
    cursor: pointer;
}

h1.s4{
    color: #fff;
    font-size: 68px;  
    font-weight:lighter; 
    line-height: 65px;          
}
p.s4{
    color: #fff;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 22px;
    line-height: 32px;
    /* position: relative; */
    /* bottom:20px; */
}
a.s4{
    color: #fff;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 18px;
    /* position: relative; */
    /* bottom:22px; */
    font-weight:inherit; 
}




#text5{
    width:410px;
    height:485px;
    position: absolute;
    top:0px;
    margin-left: 150px;
    cursor: pointer;
}
h2.s50{
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-weight: 550;
    color:rgb(19, 19, 95);
    font-size: 28px;
    text-align: center;
    /* position: relative; */
    /* top:18px; */
}
h2.s52{
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 25px;
    text-align: center;
    color:#7a7777;
    font-weight:lighter; 
    /* position: relative; */
    /* top:36px; */
  
}
h2.s51{
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 25px;
    text-align: center;
    color:#7a7777;
    font-weight:lighter; 
  
}
h3.s5{
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 20px;
    /* text-align: center; */
    color:#7a7777;
    font-weight:lighter;
    /* position: relative; */
    /* top:42px; */
  
}
p.s5{
    text-align: center;
    font-size: 20px;
    color:#7a7777;
    line-height: 30px;

}
a.s5{
    color:rgb(10, 10, 71);
    font-size: 20px;
    position: relative;
    left:150px;
}

/* heading 1 */
h1#t1{
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    text-align: center;
    color:rgb(23, 23, 111);
    font-weight: lighter;
    /* position: relative; */
    /* top:50px; */
}


/* slider 1 */

span1{
    position: relative;
    top: 160px;
    font-size: 60px;
    font-weight: bold;
    color: purple;
    cursor: pointer;
    left: 4%;
    z-index: 1;
}
span1:nth-of-type(2){
    left: 93%;
    text-align: right;
}
#container1{
    margin: auto;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: left;
    overflow-x: auto;
    overflow-y:hidden;
    padding:1% 0 0 0;
}
#container1::-webkit-scrollbar{
    visibility: hidden;
}
.product1{
    min-width: 24.1%;
    height: auto;
    position: relative;
    left: 0px;
    text-align: center;
    margin:0px 6px 0px 5px;
    transition: 1s all;
    cursor:pointer;
}
img{
    width:98%;
    height:70%;
}
.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.t1,.p2{
    color:#a6a1a1;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}

/* box3 */
#box3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:auto;margin-top: 40px;
    column-gap:30px;
    width:90%;

}

#box3>div>p{
    color:#464444;
    font-weight: bold;
    font-size: 17.5px;
    
}
#box3>div>a{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#646464;
}

/* box 4 */
#box40{
    width:100%;
    height:auto;    
    margin-top: 40px;
    background-color: rgb(235, 243, 243);
    padding:50px 0px 50px 0px;
}

#box41{
    margin:auto;
    width:55%;
}
#box41>h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color:#2d2c2c;
}
#box41>p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#565656;
    line-height: 25px;
}

 #box42{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:auto;
    margin-top: 30px;
    height:410px;
    gap:35px;
    width:60%;
}
#box42>div{
    height: 410px;
    background-color: #fff; 
}

#box42>div>img{
    width:100%;
    height:100%;
}

#box421{
    height:410px;
}
#box421>img{
    width:55%;
    height:55%;
    position: relative;
    left:20%;
    top:10%;
}
#box421>h4{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    color:#4b4a4a;
    /* position: relative; */
    /* left:150px; */
    line-height: 5px;
}
#box421>p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    color:#565656;
    text-align: center;
}

/* box 5 */
#box5{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: lighter;
    color:rgb(18, 18, 97);
    /* position: relative; */
    /* top:50px; */
}

/* slider 2 */
span2{
    position: relative;
    top: 200px;
    font-size: 60px;
    font-weight: bold;
    color: purple;
    cursor: pointer;
    left: 3%;
    z-index: 1;
}
span2:nth-of-type(2){
    left: 95%;
    text-align: right;
}
#container2{
    width: 90%;
    height: 390px;
    margin: auto;
    display: flex;
    justify-content: left;
    overflow-x: auto;
    overflow-y:hidden;
    
}
#container2::-webkit-scrollbar{
    visibility: hidden;
}
.product2{
    min-width: 24%;
    height: 95%;
    position: relative;
    left: 0px;
    text-align: center;
    margin:0px 6px 0px 5px;
    transition: 0.9s all;

}
img{
    width:98%;
    height:70%;
}
.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.t1,.p2{
    color:#a6a1a1;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height: 28px;
} 

/* box7 */

#box7{
    width:90%;
    height:470px;
    margin:auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;

}
#box7>div>img{
    width:100%;
    height:70%;
}
#box71{
    width:75%;
    height:400px;
    padding-left: 30px;
}
#box71>p,#box71>a{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    position: relative;
    font-size: 18px;
    top:20%;
    left:0;
    line-height: 25px;
    color:#4b4a4a;
}
#box71>h2{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    position: relative;
    top:20%;
    left:0;
    color:rgb(24, 24, 69)
}

/* box8 */

#box8{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    position: relative;
    top:60px;
}

/* slider3 */

span3{
    position: relative;
    top: 200px;
    font-size: 60px;
    font-weight: bold;
    color: purple;
    cursor: pointer;
    left: 3%;
    z-index: 1;
}
span3:nth-of-type(2){
    left: 95%;
    text-align: right;
}
#container3{
    width: 90%;
    height: 420px;
    margin: auto;
    display: flex;
    justify-content: left;
    overflow-x: auto;
    overflow-y:hidden;
    
}
#container3::-webkit-scrollbar{
    visibility: hidden;
}
.product3{
    min-width: 24%;
    height: 100%;
    position: relative;
    left: 0px;
    text-align: center;
    margin:0px 6px 0px 5px;
    transition: 0.9s all;
    cursor:pointer;
}

img{
    width:98%;
    height:70%;
}
.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.t1,.p2{
    color:#a6a1a1;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height: 15px;
}

#box9{
    margin:auto;
    margin-top: 50px;
    width:90%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
#box9>div>h3,#box9>div>a{
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 font-size: 16px;
 color:rgb(35, 35, 87);
}

#box9>div>a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:rgb(35, 35, 87);
    position:relative;
    left:150px;
   }
#box9>div>p{
 text-align: center;
 color:#a6a1a1;
 font-family: Arial, Helvetica, sans-serif;
 font-size:17px;
 line-height: 20px;
}
